{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@blockchain": ["./src/blockchain"],
          "@wallet": ["./src/wallet"],
          "@modules": ["./src/modules"]
        }
      }
    ]
  ]
}
